@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***************
    RESET RULE
****************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* li{
    padding: 10px 35px;
    
} */
/***************
    HEADER SECTION
*****************/

header{
    padding:21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-button,.right-button{
    display: flex;
    align-items: center;
}

.left-button>li{
    padding: 10px 35px;
}
.right-button > li{
    padding: 10px 35px;
}
.right-button li:last-of-type{
    background-color: #0061ff;
    color: white;
}