@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***************
    RESET RULE
****************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    width: 100%;
}

/***************
    HEADER SECTION
*****************/

header{
    padding:21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-button,.right-button{
    display: flex;
    align-items: center;
}

.left-button>li{
    padding: 10px 35px;
}
.right-button > li{
    padding: 10px 35px;
}
.right-button li:last-of-type{
    background-color: #0061ff;
    color: white;
}

.container-l{
    background-color: #b4d0e7;
    padding-top: 83px;
}


.container-m{
    max-width: 1260px;
    margin: 0 auto;
}

.container-s{
    padding-top: 135px;
    max-width: 1042px;
    margin: 0 auto;
}

/*****************
    JUMBO SECTION
******************/
.title-page{
    font-weight: 800;
    font-size: 68px;
}

.jumbo{
    display: flex;

}
.jumbo-description{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    max-width: 370px;
    gap: 33px;
}
.jumbo-description>p{
    line-height: 1.5;
    
}
.jumbo-image{
    position: relative;
    flex-grow: 1;
}
.jumbo-image>img{
    position: absolute;
}
.jumbo.button{
    width: fit-content;
    padding: 11px;
    color: white;
    background-color: #0061ff;
}

.arrow{
    font-size: 50px;
    align-self: flex-start;
}

/*****************
    PLANE SECTION
******************/
.plane-title{
    font-size: 32px;
    padding: 35px 0;
}

.plane-radiobutton>span{
    margin-right: 20px;
    font-size: 18px;
}



.card-box-top{
    display: flex;
    padding: 50px 0;
    gap: 50px;
}
.card{
    width: calc(100% / 3);
    border: 1px solid #DCDCDE;
}

.card-container{
    padding: 10px 26px;
}

.card-head{
    width: 100%;
    text-align: center;
    font-size: 23px;
    border-bottom: 1px solid #DCDCDE ;
    padding: 20px;
}


/**************
CARD ICON
***************/
.tile-card-head::before{
    content: "\f007";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.card-icon ul>.user::before{
    content: "\f007";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding-right: 3px;
}

.card-icon ul>.storage::before{
    content: "\f07b";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding-right: 3px;

}

.card-icon ul>.share::before{
    content: "\f1e0";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding-right: 3px;

}
.card-info ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: blue;
}

.card-profile> .title{
    font-size: 24px;
    padding: 26px 0;
}
.card-profile{
    margin: 13px 0;
}

.card-profile>.plane{
    padding: 19px 0;
}

.card-icon{
    margin: 14px 0;
}
.card-icon ul li{
    padding: 10px;
    display: flex;
    flex-grow: 10px;
    gap: 10px;
}
.card-button>a{
    text-align: center;
    padding: 11px;
    color: white;
    background-color: #0061ff;
}
.card-button p{
    margin: 10px 0;
}
.card-button p>a{
    color: #0061ff;
    text-decoration: underline;
}
.card-button{
    min-height: 100px;
    margin: 50px 0;
}
.card-info>p{
    padding: 40px 0;
    font-size: 20px;
    font-weight: 600;
}

.card-info ul li {
    padding: 13px 0;
}

.card-box-bottom{
    width: 100%;
}
.card-bottom{
    border: 1px solid #DCDCDE;
}

.title-bottom{
    font-size: 24px;
    padding: 20px 0;
}
.card-bottomn-left>a{
    font-weight: bold;
}
.card-main-bottom{
    display: flex;
    justify-content: space-between;
}
.card-bottom-right>a{
    padding: 20px;
    background-color: #0061ff;
    color: white;
}
.card-bottom-right{
    display: flex;
    align-items: center;
}
.card-bottom-descriprion{
    max-width: 70%;
    padding-top: 40px;
}
.partner{
    display: flex;
}

.image-partner{
    width: 60%;
}
.text-partner{
    padding: 54px;
    width: 40%;
}
