@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***************
GENERIC RULE
****************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

q{
    display: inline-block;
}

h2{
    font-size: 48px;
}
/***************
HEADER SECTION
*****************/

header{
    padding:21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-button,.right-button{
    display: flex;
    align-items: center;
}

.left-button>li{
    padding: 10px 35px;
}
.right-button > li{
    padding: 10px 35px;
}
.right-button li:last-of-type{
    background-color: #0061ff;
    color: white;
}

.container-l{
    background-color: #b4d0e7;
}


.container-m{
    max-width: 1260px;
    margin: 0 auto;
}

.container-s{
    max-width: 1042px;
    margin: 0 auto;
}

/*****************
JUMBO SECTION
******************/
.title-page{
    padding-top: 86px;
    font-weight: 800;
    font-size: 68px;
}

.jumbo{
    display: flex;

}
.jumbo-description{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    max-width: 370px;
    gap: 33px;
}
.jumbo-description>p{
    line-height: 1.5;
    
}
.jumbo-image{
    flex-grow: 1;
}
.jumbo-image>img{
    margin-bottom: -130px;
}
.jumbo.button{
    width: fit-content;
    padding: 11px;
    color: white;
    background-color: #0061ff;
}

.arrow{
    font-size: 50px;
    align-self: flex-start;
}

/*****************
PLANE SECTION
******************/
.plane-title{
    padding: 197px 0 72px 0;
}

.plane-radiobutton>span{
    margin-right: 20px;
    font-size: 18px;
}



.card-box-top{
    display: flex;
    padding: 50px 0;
    gap: 50px;
}
.card{
    width: calc(100% / 3);
    border: 1px solid #DCDCDE;
}

.card-container{
    padding: 10px 26px;
}

.card-head{
    width: 100%;
    text-align: center;
    font-size: 23px;
    border-bottom: 1px solid #DCDCDE ;
    padding: 20px;
}


/*********
CARD ICON
**********/
.tile-card-head::before{
    content: "\f007";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.card-icon ul>.user::before{
    content: "\f007";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding-right: 3px;
}

.card-icon ul>.storage::before{
    content: "\f07b";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding-right: 3px;

}

.card-icon ul>.share::before{
    content: "\f1e0";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding-right: 3px;

}
.card-info ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: blue;
}

.card-profile> .title{
    font-size: 24px;
    padding: 26px 0;
}
.card-profile{
    margin: 13px 0;
}

.card-profile>.plane{
    padding: 19px 0;
}

.card-icon{
    margin: 14px 0;
}
.card-icon ul li{
    padding: 10px;
    display: flex;
    flex-grow: 10px;
    gap: 10px;
}
.card-button>a{
    width: 100%;
    text-align: center;
    padding: 11px;
    color: white;
    background-color: #0061ff;
}
.card-button p{
    margin: 10px 0;
}
.card-button p>a, .container-s.logo>a {
    color: #0061ff;
    text-decoration: underline;
}
.card-button{
    margin: 50px 0;
}
.card-info>p{
    padding: 40px 0;
    font-size: 20px;
    font-weight: 600;
}

.card-info ul li {
    padding: 13px 0;
}

.card-box-bottom{
    width: 100%;
}
.card-bottom{
    border: 1px solid #DCDCDE;
}

.title-bottom{
    font-size: 24px;
    padding: 20px 0;
}
.card-bottomn-left>a{
    font-weight: bold;
}
.card-main-bottom{
    display: flex;
    justify-content: space-between;
}
.card-bottom-right>a{
    padding: 20px;
    background-color: #0061ff;
    color: white;
}
.card-bottom-right{
    display: flex;
    align-items: center;
}
.card-bottom-descriprion{
    max-width: 70%;
    padding-top: 40px;
}


/***************
PARTNER SECTION 
****************/

.partner{
    display: flex;
    padding: 154px 0;
}

.image-partner{
    width: 60%;
}


.text-partner{
    padding: 54px;
    width: 40%;
}
.text-partner>a{
    border: 1px solid #5B5B5B;
    padding:15px
}

.text-partner>p{
    padding: 23px 0;
}
.business-title{
    padding:10px 0p;
}

/********************
DROPBOX BUSINESS CARD
*********************/
.business-card-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.business-card{
    max-width: 310px;
    width: calc(100% / 3);
    display:flex;
    flex-direction: column;
}
.buisness-card-container{
    max-width: 315px;
}

/********************
LOGO PARTNER SECTION 
*********************/
.container-logo{
    width: 100%;
    display: flex;
}
.logo{
    padding: 264px 0;
}
.logo-right, .logo-center, .logo-left{
    width: calc(100% / 3);
}


.logo-left, .logo-right{
    display: flex;
    flex-wrap: wrap;
}
.logo-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    aspect-ratio: 1;

}

.logo-card>img{
    max-width: 182px;
    filter: invert(100);
    
}

/* BRAND CARD COLOR  */

.green{
    background-color:#A2D39B ;
}
.purple{
    background-color: #6F213F;
}
.heavenly{
    background-color: #219DCE;
}
.orange{
    background-color: #FF1C1C;
}
.red{
    background-color: #D5001F;
}

.white{
    background-color: #B4D0E7;
}

.blue{
    background-color:#0D2481;
}

.yellow{
    background-color: #FFD830;
}

.logo-center{
    padding: 50px;
}
.logo-center img{
    filter: invert(0);
    max-width: 300px;
}
.logo-center blockquote{
    padding: 96px 0 56px 0;
}

.logo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text{
    padding:  138px 0;
    font-size: 30px;
    color: #6F213F;

}
.logo-botton a{
    width: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
    
}
.logo-botton{
    flex-basis: 300px;
}

/**********
ASK SECTION
***********/
.ask{
    padding: 164px 0;
}
.ask-section h2{
    padding-bottom: 55px;
}

.ask-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #B1B1B1;
}

.ask-text{
    font-weight: 700;
    font-size: 18px;
    flex-basis: 70%;
    padding: 42px 0;
}
.ask-button a {
    padding: 37px;
}
.ask-card:nth-child(4){
    border-bottom: 1px solid#B1B1B1;
}


/*****
FOOTER
******/

footer{
    background-color: black;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 20%;
    padding: 112px 0;
}

.col p{
    padding: 30px 0;
    font-size: 24px;
    font-weight: bold;
}

.col a {
    padding: 12px 0;
    width: 80%;
}

.language{
    padding: 54px 0;
    border-top: 1px solid#9C9B99;
    width: fit-content;
    display: flex;
    color: #9C9B99;
}

.language p{
    padding:0 5px;
}


/********
ANIMATION 
*********/
/* 
@border-anim{

} */